/* src/components/Contact.css */

.contact {
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    color: #000;
    /* Cambia el color de la letra a negro */
}

.contact h2 {
    margin-top: 0;
    color: #000;
    /* Cambia el color del título a negro */
}